Repository youtube/cobalt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youtube/cobalt-3p-repository-owners, @youtube/cobalt-media, @youtube/cobalt-build

.github/CODEOWNERS:

* @youtube/cobalt-3p-repository-owners

/media/ @youtube/cobalt-media

/.github/  # no owners
/cobalt/  # no owners
/starboard/  # no owners
/components/viz/service/display/starboard/  # no owners
/ui/ozone/platform/starboard/  # no owners
/cobalt/build/gn.py @youtube/cobalt-build

Setup defaults for forge runs of linux
  cobalt/build/configs/linux-x64x11/args.gn
Owners: none

Add checks for media_codec_bridge null pointers.
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
Owners: none

Case insensitive localhost
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/posix/socket_resolve.cc
Owners: none

Recognize "localhost" as special and resolve to the loopback address. (#4830)
  starboard/android/shared/test_filters.py
  starboard/extension/extension_test.cc
  starboard/nplb/posix_compliance/posix_socket_resolve_test.cc
  starboard/nplb/socket_helpers.cc
  starboard/nplb/socket_helpers.h
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/posix/socket_resolve.cc
  starboard/shared/win32/test_filters.py
  third_party/musl/src/starboard/network/socket.c
Owners: @youtube/cobalt-3p-repository-owners

H5vccSystem WPT
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/README.md
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/h5vcc-system-getAdvertisingId.https.any.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/automation.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/mock-h5vcc-system.js
Owners: @youtube/cobalt-3p-repository-owners

[XB1] Fix compilation error, appeared with last version of MSVC.
  net/cert/pki/string_util.cc
  net/cert/pki/string_util.h
Owners: @youtube/cobalt-3p-repository-owners

Add ScheduleJobDuringShutdown test
  starboard/shared/starboard/player/job_thread_test.cc
Owners: none

Strip cobalt binary
  cobalt/BUILD.gn
Owners: none

Revert "Use default symbol_level (#4686)"
  cobalt/build/gn.py
Owners: @youtube/cobalt-build

Use symbol_level=1 for gold builds
  cobalt/build/gn.py
Owners: @youtube/cobalt-build

Web tests.
  cobalt/browser/h5vcc_system/BUILD.gn
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.sub.html
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/h5vcc-system-getAdvertisingId.https.any.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/automation.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/mock-h5vcc-system.js
Owners: @youtube/cobalt-3p-repository-owners

Add web tests
  cobalt/browser/h5vcc_system/public/mojom/h5vcc_system.mojom
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/h5vcc-system.https.any.js
  third_party/blink/web_tests/external/wpt/cobalt/h5vcc-system/resources/automation.js
  third_party/blink/web_tests/external/wpt/resources/chromium/cobalt/fake-h5vcc-system-impl.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/h5vcc-system-getAdvertisingId.https.any.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/automation.js
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/mock-h5vcc-system.js
Owners: @youtube/cobalt-3p-repository-owners

Add web_tests to .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @youtube/cobalt-3p-repository-owners

Rename stub key
  third_party/blink/web_tests/wpt_internal/h5vcc/h5vcc-system/resources/mock-h5vcc-system.js
Owners: @youtube/cobalt-3p-repository-owners

Revert "Use default symbol_level (#4686)" (#4866)
  cobalt/build/gn.py
Owners: @youtube/cobalt-build

Revert "Use default symbol_level (#4686)" (#4866)
  cobalt/build/gn.py
Owners: @youtube/cobalt-build

Build rule
  cobalt/browser/h5vcc_system/BUILD.gn
  starboard/BUILD.gn
Owners: none

git precommit check
  .pre-commit-config.yaml
Owners: @youtube/cobalt-3p-repository-owners

Add workflow debug workflow
  .github/workflows/workflow_debug.yaml
Owners: none

Fix initialize conditional
  .github/workflows/main.yaml
Owners: none

Add permissions setting at top level
  .github/workflows/workflow_debug.yaml
Owners: none

Add todo
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
Owners: none

Add list of targets to hermetic builds
  .github/actions/on_host_tests/action.yaml
  cobalt/build/testing/cobalt_test_templates.gni
  cobalt/build/testing/targets/linux-x64x11-evergreen/test_targets.json
Owners: none

Debug runtime crash
  starboard/common/test_main.cc
  starboard/linux/x64x11/run_starboard_main.cc
  starboard/linux/x64x11/starboard_loader.cc
  starboard/nplb/BUILD.gn
  starboard/shared/x11/application_x11.cc
Owners: none

Simplify concurrency group setting
  .github/workflows/main.yaml
Owners: none

Expose window.internals when enabled by flag (#4840)
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
Owners: none

Expose window.internals when enabled by flag (#4840)
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
Owners: none

Changes to fix musl printf error
  starboard/string.h
  third_party/musl/BUILD.gn
  third_party/musl/src/starboard/stdio/vsnprintf.c
  third_party/musl/src/starboard/stdio/vsscanf.c
  third_party/musl/src/starboard/stdio/vswprintf.c
Owners: @youtube/cobalt-3p-repository-owners

Polish
  .github/workflows/workflow_debug.yaml
Owners: none

Add CobaltRenderFrameObserver comments, style fix
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
Owners: none

Add comment explaining the concurrency setting
  .github/workflows/main.yaml
Owners: none

Revert "Build rule"
  cobalt/browser/h5vcc_system/BUILD.gn
  starboard/BUILD.gn
Owners: none

TODO
  cobalt/browser/h5vcc_system/BUILD.gn
Owners: none

Add CobaltRenderFrameObserver comments, style fix (#4868)
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
Owners: none

Add CobaltRenderFrameObserver comments, style fix (#4868)
  cobalt/renderer/cobalt_render_frame_observer.cc
  cobalt/renderer/cobalt_render_frame_observer.h
Owners: none

Add checks for media_codec_bridge null pointers. (#4846)
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
Owners: none

Create a separate unit test specific container
  .github/workflows/main.yaml
  cobalt/docker/linux/Dockerfile
  cobalt/docker/unittest/Dockerfile
  docker-compose.yaml
Owners: @youtube/cobalt-3p-repository-owners

Fail test jobs on test failures
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_tests/action.yaml
Owners: none

Add label to signify chrobalt unit tests
  .github/actions/on_device_tests/action.yaml
Owners: none

Fix linux build
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
Owners: none
