Repository youtube/cobalt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youtube/cobalt-3p-repository-owners, @youtube/cobalt-media, @youtube/cobalt-starboard-owners, @youtube/cobalt-build, @youtube/cobalt-web-api, @youtube/nplb-filters

.github/CODEOWNERS:

* @youtube/cobalt-3p-repository-owners

/cobalt/media @youtube/cobalt-media
/media/ @youtube/cobalt-media
/third_party/blink/renderer/platform/media/ @youtube/cobalt-media

/.github/  # no owners
/cobalt/  # no owners
/starboard/*.h  @youtube/cobalt-starboard-owners
/starboard/sabi @youtube/cobalt-starboard-owners
/starboard/elf_loader @youtube/cobalt-starboard-owners
/starboard/loader_app @youtube/cobalt-starboard-owners
/starboard/common @youtube/cobalt-starboard-owners
/components/viz/service/display/starboard/  # no owners
/ui/ozone/platform/starboard/  # no owners
/cobalt/build/gn.py @youtube/cobalt-build
/third_party/blink/ @youtube/cobalt-web-api

*.nplb_filter.json @youtube/nplb-filters

Disable default Gemini reviews
  .gemini/config.yaml
Owners: @youtube/cobalt-3p-repository-owners

Minor fixes
  starboard/android/shared/drm_system.cc
  starboard/android/shared/media_drm_bridge.cc
Owners: @youtube/cobalt-3p-repository-owners

Add clock() and time() from musl.
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  starboard/nplb/posix_compliance/posix_time_gettimeofday_test.cc
  starboard/nplb/posix_compliance/posix_time_test.cc
  starboard/nplb/posix_compliance/posix_time_time_test.cc
  starboard/shared/modular/cobalt_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.h
  third_party/musl/BUILD.gn
  third_party/musl/src/include/time.h
  third_party/musl/src/time/gettimeofday.c
  third_party/musl/src/time/time.c
Owners: @youtube/cobalt-starboard-owners, @youtube/cobalt-3p-repository-owners

Add stub syscall.h
  third_party/musl/src/starboard/include/syscall.h
  third_party/musl/src/time/gettimeofday.c
Owners: @youtube/cobalt-3p-repository-owners

Cleanup tests
  starboard/nplb/posix_compliance/posix_time_time_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Remove unnecessary verbosity from tests
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  starboard/nplb/posix_compliance/posix_time_gettimeofday_test.cc
  starboard/nplb/posix_compliance/posix_time_time_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Address comments
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  starboard/nplb/posix_compliance/posix_time_gettimeofday_test.cc
  third_party/musl/.clang-format
Owners: @youtube/cobalt-3p-repository-owners

Use a TEST_P where possible. Also guarantee that we run long enough to use measurable CPU
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  third_party/musl/src/include/time.h
  third_party/musl/src/time/gettimeofday.c
  third_party/musl/src/time/time.c
Owners: @youtube/cobalt-3p-repository-owners

pre-commit autoformat
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
Owners: @youtube/cobalt-3p-repository-owners

This adds various sleep functions.
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_sleep_test.cc
  starboard/nplb/posix_compliance/posix_usleep_test.cc
  starboard/shared/modular/BUILD.gn
  starboard/shared/modular/cobalt_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.h
  third_party/musl/BUILD.gn
  third_party/musl/include/time.h
  third_party/musl/src/include/time.h
  third_party/musl/src/time/nanosleep.c
Owners: @youtube/cobalt-starboard-owners, @youtube/cobalt-3p-repository-owners

Add tests for EINTR
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
Owners: @youtube/cobalt-3p-repository-owners

alphabetical order
  starboard/elf_loader/exported_symbols.cc
Owners: @youtube/cobalt-starboard-owners

Address comment
  third_party/musl/src/time/nanosleep.c
Owners: @youtube/cobalt-3p-repository-owners

Define MUSL_CLOCK_INVALID and handle where necessary after conversions
  starboard/shared/modular/starboard_layer_posix_pthread_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.h
Owners: @youtube/cobalt-3p-repository-owners

Add EINTR tests for nanosleep, usleep, and sleep, and fixes in wrapper
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_sleep_test.cc
  starboard/nplb/posix_compliance/posix_usleep_test.cc
  third_party/musl/src/unistd/sleep.c
Owners: @youtube/cobalt-3p-repository-owners

Address comments
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_sleep_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Address GCA comments
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
Owners: @youtube/cobalt-3p-repository-owners

Remove unnecessary verbosity from tests
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_sleep_test.cc
  starboard/nplb/posix_compliance/posix_usleep_test.cc
  starboard/shared/modular/starboard_layer_posix_time_abi_wrappers.cc
Owners: @youtube/cobalt-3p-repository-owners

Address comments, and add static asserts for function declarations
  starboard/nplb/posix_compliance/posix_clock_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_nanosleep_test.cc
  starboard/nplb/posix_compliance/posix_sleep_test.cc
  starboard/nplb/posix_compliance/posix_usleep_test.cc
  third_party/musl/.clang-format
  third_party/musl/src/include/time.h
  third_party/musl/src/unistd/sleep.c
Owners: @youtube/cobalt-3p-repository-owners

Fix license text
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  starboard/nplb/posix_compliance/posix_time_gettimeofday_test.cc
  starboard/nplb/posix_compliance/posix_time_time_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Update RDK SB subtree (#5926)
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/gyp_configuration.py
  starboard/contrib/rdk/src/third_party/starboard/rdk/arm/test_filters.py
Owners: @youtube/cobalt-3p-repository-owners

WIP
  cobalt/common/libc/BUILD.gn
  cobalt/common/libc/stdlib/environment.cc
  sandbox/linux/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/posix_compliance/posix_environment_test.cc
  third_party/musl/BUILD.gn
Owners: @youtube/cobalt-3p-repository-owners

Added more tests
  starboard/nplb/posix_compliance/posix_isatty_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Add missing close() calls
  starboard/nplb/posix_compliance/posix_isatty_test.cc
Owners: @youtube/cobalt-3p-repository-owners

Update evergreen-rdk-arm-hardfp platform name
  .github/config/evergreen-rdk-arm-hardfp.json
Owners: none

Disable default Gemini reviews (#5927)
  .gemini/config.yaml
Owners: @youtube/cobalt-3p-repository-owners

Disable default Gemini reviews (#5927)
  .gemini/config.yaml
Owners: @youtube/cobalt-3p-repository-owners

Add static asserts for the API types
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
  starboard/nplb/posix_compliance/posix_time_clock_test.cc
  starboard/nplb/posix_compliance/posix_time_gettimeofday_test.cc
  starboard/nplb/posix_compliance/posix_time_time_test.cc
Owners: @youtube/cobalt-3p-repository-owners

pre-commit autoformat
  starboard/nplb/posix_compliance/posix_time_clock_gettime_test.cc
Owners: @youtube/cobalt-3p-repository-owners

DRAFT: Test
  cobalt/version.h
Owners: none

Add a PATH variable to satisfy base_unittests
  cobalt/common/libc/stdlib/environment.cc
Owners: none

Enable unit tests on RDK
  .github/config/evergreen-rdk-arm-hardfp.json
Owners: none

Use unique_ptr for DecodedAudio
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/audio_decoder_passthrough.h
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.h
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.h
  starboard/shared/opus/opus_audio_decoder.cc
  starboard/shared/opus/opus_audio_decoder.h
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/decoded_audio_internal.h
  starboard/shared/starboard/player/decoded_audio_test_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer.h
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_decoder_internal.h
  starboard/shared/starboard/player/filter/audio_frame_discarder.cc
  starboard/shared/starboard/player/filter/audio_frame_discarder.h
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_resampler.h
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.h
  starboard/shared/starboard/player/filter/decoded_audio_queue.cc
  starboard/shared/starboard/player/filter/decoded_audio_queue.h
  starboard/shared/starboard/player/filter/mock_audio_decoder.h
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.h
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_frame_discarder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
  starboard/shared/starboard/player/filter/testing/audio_resampler_test.cc
  starboard/shared/starboard/player/filter/wsola_internal.cc
  starboard/shared/starboard/player/filter/wsola_internal.h
Owners: @youtube/cobalt-3p-repository-owners

Add check for cdm_ before calling getMetrics (#5883)
  third_party/blink/renderer/modules/encryptedmedia/media_keys.cc
Owners: @youtube/cobalt-web-api

Add check for cdm_ before calling getMetrics (#5883)
  third_party/blink/renderer/modules/encryptedmedia/media_keys.cc
Owners: @youtube/cobalt-web-api

[POSIX] Remove unnecessary pthread_atfork call
  base/allocator/partition_allocator/partition_alloc_base/threading/platform_thread_posix.cc
  base/allocator/partition_allocator/partition_alloc_config.h
  base/allocator/partition_allocator/partition_root.cc
  base/process/launch_posix.cc
  base/threading/platform_thread_posix.cc
  content/common/set_process_title.cc
Owners: @youtube/cobalt-3p-repository-owners

Refine usage of StarboardRenderer in its wrapper (#5923)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Owners: @youtube/cobalt-media

Refine usage of StarboardRenderer in its wrapper (#5923)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Owners: @youtube/cobalt-media

Refine usage of StarboardRenderer in its wrapper (#5923)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Owners: @youtube/cobalt-media

Refactor overrides to helper class to make it more easily testable. Adds unit tests to the helper.
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CommandLineOverrideHelperTest.java
Owners: none
