Repository youtube/cobalt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youtube/cobalt-3p-repository-owners, @youtube/cobalt-media, @youtube/cobalt-starboard-owners, @youtube/cobalt-build, @youtube/cobalt-web-api, @youtube/nplb-filters

Undoing changes to the configuration.py file.
  cobalt/tools/performance/configuration.py
Owners: none

Cherry pick PR #5923: Refine usage of StarboardRenderer in its wrapper (#5936)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.h
Owners: @youtube/cobalt-media

Add check for cdm_ before calling getMetrics (#5883)
  third_party/blink/renderer/modules/encryptedmedia/media_keys.cc
Owners: @youtube/cobalt-web-api

Make wsola_internal not use scoped_ptr.
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/wsola_internal.cc
  starboard/shared/starboard/player/filter/wsola_internal.h
Owners: @youtube/cobalt-3p-repository-owners

[CONFLICT] Original Commit: d7887876a1113554e7a14719e5dd8b1e4e5bffc2
  ui/events/BUILD.gn
  ui/events/keycodes/cobalt/keyboard_code_conversion_cobalt_unittest.cc
  ui/events/keycodes/keyboard_code_conversion_android.cc
Owners: @youtube/cobalt-3p-repository-owners

remove not-used header
  starboard/shared/starboard/player/filter/wsola_internal.h
Owners: @youtube/cobalt-3p-repository-owners

No omit frame pointer for devel and debug mode
  build/config/sanitizers/BUILD.gn
  starboard/build/config/modular/BUILD.gn
Owners: @youtube/cobalt-3p-repository-owners

Cherry pick PR #5883: Add check for cdm_ before calling getMetrics (#5938)
  third_party/blink/renderer/modules/encryptedmedia/media_keys.cc
Owners: @youtube/cobalt-web-api

Add code to write feature flags using templates
  cobalt/BUILD.gn
  cobalt/generate_features.py
  starboard/feature_config.cc
  starboard/feature_config.h
Owners: @youtube/cobalt-3p-repository-owners, @youtube/cobalt-starboard-owners

Move static members to be local variables inside getOverride method
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CommandLineOverrideHelper.java
Owners: none

git cl format
  cobalt/app/cobalt_switch_defaults.cc
Owners: none

.github/CODEOWNERS:

* @youtube/cobalt-3p-repository-owners

/cobalt/media @youtube/cobalt-media
/media/ @youtube/cobalt-media
/third_party/blink/renderer/platform/media/ @youtube/cobalt-media

/.github/  # no owners
/cobalt/  # no owners
/starboard/*.h  @youtube/cobalt-starboard-owners
/starboard/sabi @youtube/cobalt-starboard-owners
/starboard/elf_loader @youtube/cobalt-starboard-owners
/starboard/loader_app @youtube/cobalt-starboard-owners
/starboard/common @youtube/cobalt-starboard-owners
/components/viz/service/display/starboard/  # no owners
/ui/ozone/platform/starboard/  # no owners
/cobalt/build/gn.py @youtube/cobalt-build
/third_party/blink/ @youtube/cobalt-web-api

*.nplb_filter.json @youtube/nplb-filters
