Repository youtube/cobalt, pull requests merged in 2025-09, with the labels that each got.

#7045 Disable HTMLMediaElement MediaControl
  third_party/blink/renderer/core/html/media/html_media_element.cc
  third_party/blink/renderer/modules/media_controls/media_controls_impl.cc
Labels: cp-26.android

#7039 Restore focus on window on resume
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Labels: cp-26.android

#7087 starboard: Fix crash caused by compare_exchange_weak
  starboard/android/shared/starboard_bridge.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
Labels: cp-26.android

#7099 Starboard: Add starboard experiment to Tunnel Mode
  starboard/android/shared/player_components_factory.cc
  starboard/extension/feature_config.h
Labels: cp-26.android

#7072 starboard: Add FormatWithDigitSeparators method for logging numbers
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/common/BUILD.gn
  starboard/common/string.cc
  starboard/common/string.h
  starboard/common/string_test.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
Labels: cp-26.android

#6813 [android] Support BUFFER_FLAG_DECODE_ONLY
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Labels: on_device

#7112 starboard: Enforce thread safety invariants in release builds
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
Labels: cp-26.android

#7124 update filter files of unit test for linux-x64x11-modular
  cobalt/testing/filters/linux-x64x11-modular/base_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/blink_platform_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/cc_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/google_apis_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/gpu_benchmark_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/mojo_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/trace_processor_minimal_smoke_tests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/viz_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/zlib_unittests_loader_filter.json
Labels: outside collaborator

#7309 starboard: Remove not-used StarboardBridge::OnStop method
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/starboard_bridge.cc
Labels: cp-26.android
