Repository youtube/cobalt, pull requests merged in 2025-08, with the labels that each got.

#6658 Run all on-device unit tests and e2e tests without label
  .github/workflows/main.yaml
Labels: runtest

#6721 cobalt/shell: Remove unused services/test/echo
  cobalt/shell/BUILD.gn
  cobalt/shell/DEPS
  cobalt/shell/utility/shell_content_utility_client.cc
Labels: cp-26.android

#6708 Fix broken workflow diff_chromium_branches.
  .github/workflows/diff_chromium_branches.yaml
Labels: diff-m114, diff-m132

#6733 cobalt/test: Add data dir for cobalt browser tests
  cobalt/testing/browser_tests/data/README.md
Labels: cp-26.android

#6706 Fix: Align static field names to Chromium style
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoDecoderCache.java
Labels: cp-26.android

#6768 cobalt/testing: Add more content browsertests
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/frame_tree_browsertest.cc
  cobalt/testing/browser_tests/session_history_browsertest.cc
  cobalt/testing/browser_tests/site_per_process_browsertest.cc
  cobalt/testing/browser_tests/site_per_process_browsertest.h
  cobalt/testing/browser_tests/web_contents_impl_browsertest.cc
Labels: cp-26.android

#6703 Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoFrameReleaseTimeHelper.java
Labels: cp-26.android

#6802 cobalt/test: Disable failing tests
  cobalt/testing/browser_tests/encrypted_media_browsertest.cc
  cobalt/testing/browser_tests/frame_tree_browsertest.cc
  cobalt/testing/browser_tests/media_browsertest.cc
  cobalt/testing/browser_tests/media_session_browsertest.cc
  cobalt/testing/browser_tests/media_source_browsertest.cc
  cobalt/testing/browser_tests/site_per_process_browsertest.cc
  cobalt/testing/browser_tests/web_contents_impl_browsertest.cc
  cobalt/testing/browser_tests/webrtc_getusermedia_browsertest.cc
Labels: cp-26.android

#6805 Revert "Use a copy of ContextLifecycleObserver for exit notifications"
  third_party/blink/renderer/platform/context_lifecycle_notifier.cc
Labels: cp-26.android

#6509 starboard_unittests: Make checks for some dependencies stricter
  starboard/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Labels: runtest

#6911 Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ErrorDialog.java
Labels: cp-26.android

#6688 starboard: Add tests for Starboard Extension for Features
  starboard/android/shared/BUILD.gn
  starboard/extension/extension_test.cc
  starboard/shared/starboard/starboard_feature_test.cc
Labels: cp-26.android

#6946 cobalt/test: Re-enable FrameTreeBroserTests
  cobalt/testing/browser_tests/frame_tree_browsertest.cc
Labels: cp-26.android

#6905 Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/javabridge/HTMLMediaElementExtension.java
Labels: cp-26.android

#6908 Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/test/java/dev/cobalt/util/HolderTest.java
Labels: cp-26.android

#6969 Enable MemoryPressureMonitor/Listener on CoAT
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/browser/cobalt_browser_main_parts.cc
Labels: cp-26.android

#6978 cobalt/testing: Enable WebRtcGetUserMediaBrowserTest,
  cobalt/testing/browser_tests/webrtc_getusermedia_browsertest.cc
Labels: cp-26.android

#6928 Add raspi-2-modular build to CI
  .github/actions/on_device_tests/action.yaml
  .github/config/raspi-2-modular.json
  .github/workflows/raspi-2-modular.yaml
  cobalt/build/configs/evergreen-arm-hardfp-raspi/args.gn
  cobalt/build/configs/raspi-2-modular/args.gn
  cobalt/build/gn.py
  cobalt/build/modular_executable.gni
  cobalt/build/testing/targets/raspi-2-modular/test_targets.json
  cobalt/testing/filters/raspi-2-modular/nplb_loader_filter.json
  cobalt/tools/on_device_tests_gateway_client.py
Labels: on_device

#6913 Fix: Align non-public, non-static field names to Chromium style
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltTextToSpeechHelper.java
Labels: cp-26.android

#7019 refactor: Improve the readablilty of CommandLine log
  cobalt/browser/cobalt_content_browser_client.cc
Labels: cp-26.android
